PORT="8080"
PLATFORM="prof"

# when CLOUDFLARE_TUNNEL_TOKEN is set, this must match the public hostname configured on cloudflare
# format: https://example.domain.com ( no trailing slash)
BASE_URL="http://localhost"

DB_URL="./chipmunk.db"

JWT_SECRET=""
PROFESSOR_PASSWORD_HASH=''

# this is for named tunnel token when you setup a named tunnel on Cloudflare dashboard
# if you don't, just leave it empty
CLOUDFLARE_TUNNEL_TOKEN=""